@font-face {
    font-family: myFirstFont;
    src: url(BRUSHSTP.ttf);
}

.navbar-custom {
    background-color:#222222;
    border-radius:2;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #33aa33; }
